{
    "printWidth": 120,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindConfig": "./tailwind.config.ts",
    "tailwindFunctions": ["clsx", "cn", "tw"],
    "tailwindPreserveWhitespace": true,
    "tailwindPreserveDuplicates": false
  }