html {
  box-sizing: border-box;
  background-color: #1b1b1b;
  height: -webkit-fill-available;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* {
  box-sizing: border-box;
  background-color: #1b1b1b;
}
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    margin: 0;
    height: -webkit-fill-available;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navigation {
  background-color: #333;
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  
  align-items: center;
  text-align: center;
  
  gap: 2rem;
  padding: 0 15rem;
  height: 70px;
}

#navigation a {
  color: inherit;
  padding: 0 1rem;
}

#navigation ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  
  text-align: inherit;
  position: relative;
  
  margin: 0;
  padding: 0;
  gap: 5rem;
}

#navigation li {
  background-color: #1b1b1b;
  padding: 0.2rem;
  font-weight: 500;
}

#nav-title {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 785;

  text-align: left;
  margin: 0;
  margin-top: 1rem;

  position: relative;
}

#content {
  background-color: #1b1b1b;
  background-image: url('./media/bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;

  color: whitesmoke;
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 90vh;
}

#home {
  flex: 1;
  height: 100%;
}

.intro {
  font-size: 0.85rem;
  font-weight: 300;
  text-align: center;
  margin: 0 50px 0;
  padding: 0;
  background-color: #333;
  height: 11.5px;
  position: relative;
}

p.panel {
  border: 1px dotted rgb(105, 105, 105);
  background-color: rgba(17, 17, 17, 0.384);
  
  margin: 75px 50px 0px;
  padding: 15px;
  
  width: 600px;
  
  font-size: 1.25rem ;
  position: relative;
}

#about > .scroll-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /*scroll-padding-top: 30px;*/
}

#about > .scroll-container > .scroll-section {
  scroll-snap-align: start;
}

#education {
  margin-top: 50px;
}
#education > .panel {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 2px;
}

#experience {
  margin-top: 50px;
  margin-bottom: 50px;
}
#experience > .panel {
  margin-top: 0px;
}

#skills-list {
  display: inline-block;

  position: fixed;
  top: 185px;
  right: 340px;

  width: 300;
}

#skills-list h3 {
  text-align: left;
  margin: 0px 0px;
}

#skills-list li {
  text-align: left;
  list-style-position: inside;
  list-style-type:square;
  border: whitesmoke solid 1px;
  margin: 5px 45px 10px 0px;
  width: 200px;
}

#error-page {
  background-color: whitesmoke;
  color: #333;
  align-self: center;
  align-content: center;
  text-align: center;
}

.nav-link {
  color: inherit;
}
