html {
  box-sizing: border-box;
  background-color: #1b1b1b;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* {
  box-sizing: border-box;
  background-color: #1b1b1b;
}
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navigation {
  background-color: #333;
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  
  align-items: center;
  text-align: center;
  
  gap: 2rem;
  padding: 0 15rem;
}

#navigation a {
  color: inherit;
  padding: 0 1rem;
}

#navigation ul {
  list-style: none;
  margin: 0;
  text-align: inherit;
  padding: 0;

  display: flex;
  gap: 5rem;
}

#navigation li {
  background-color: #1b1b1b;
  padding: 0.2rem;
  font-weight: 500;
}

#nav-title {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 785;

  text-align: center;
  margin: 0.5rem;
}

#content {
  background-color: #1b1b1b;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

#error-page {
  background-color: whitesmoke;
  color: #333;
  align-self: center;
  align-content: center;
  text-align: center;
}

.nav-link {
  color: inherit;
}
